{% extends "base.html" %} {% block title %} About the Valley Walk to Emmaus {% endblock %}
{% block content %}
<div class="mx-auto bg-light bg-gradient" style="width:68%;">

		<div class="container-fluid" id="body">
			<div id="content">
				<h2>About the Valley Walk to Emmaus</h2>
				
				
				<p><img src="../static/images/iconemmnew.gif" border="0" align="right" />
				
				 The Valley Walk to Emmaus, started holding walks in 2001 after many people in the community had attended week-end walks in other communities – mostly 
				 Heart of Georgia at Camp Dooley, near Vienna, Georgia. Over 900 people from this area have attended Valley walks and currently there are over 1400 
				 people on our roster from over 145 different churches in the West Georgia/East Alabama region. <br /><br />
				
				A Board of Directors governs the Community and oversees all the planning and operations necessary to conduct the Walks.  This Board commits to abide 
				by the guidelines created by The Upper Room. <br /><br />
				
				Under the Board there are Clusters, which are local communities. There are currently two clusters, one in Columbus and one in Phenix City. In the future, 
				we hope that there will be others. <br /><br />
				
				The monthly gatherings put on by the clusters are some of the most special times spent in Emmaus activity. The Columbus group typically meets on the fourth 
				Friday of the month and the Phenix City group meets on the second Tuesday of each month. At a gathering, there is usually a covered dish meal with time 
				to fellowship with people who genuinely love the Lord.  Praise and worship is shared and then a speaker gives a talk about how their life has changed since 
				their Emmaus experience. The evening ends with Holy Communion.<br /><br />
				
				Walks are held at Pine Eden Christian Retreat Center, located in Hamilton, Georgia. Pine Eden was developed by some of the same people who helped form the 
				Valley Walk to Emmaus and it was designed specifically with many of the Emmaus activities in mind. It is a wonderful facility that is available to Christian 
				organizations for different events.<br /><br />
				
				There are many opportunities to be nurtured and grow after experiencing a walk to Emmaus – in fact, the week-end is intended to be the beginning of making 
				a conscious effort grow deeper in a relationship with God.<br /><br />
				
				Reunion Groups build on what begins during the walk. This is a small group that meets on a regular basis for the purpose of reviewing each other’s spiritual 
				practices, holding each other accountable in their commitment and sharing each other’s awareness of Christ’s presence in their life.<br /><br />
				
				Learning to be a servant is one of the main values of the Walk to Emmaus. There are many opportunities to serve within the Emmaus community, but it is always 
				important to remember that the primary area of ministry is to be one’s local church. <br /><br />
				
				To attend an Emmaus walk, each person must have a sponsor who has already attended Emmaus. Also required is the ability to commit to the full 72 hour experience 
				and have a genuine desire to grow into a deeper spiritual life. Men and women attend separate walks that are typically held a week apart.
				
				</p>
				
				<!-- close content -->
				
			</div>
	  </div>
</div>
{% endblock %}
