{% extends "base.html" %} {% block title %} After The Walk {% endblock %}
{% block content %}
<div class="mx-auto bg-light bg-gradient" style="width:68%;">

		<div class="container-fluid" id="body">
			<div id="content">
				<h2>What Happens After Emmaus?</h2>
				
				
				<p><img src="../static/images/iconemmnew.gif" border="0" align="right" />
				
				One of the primary strengths of Emmaus is the follow-up. Your weekend lasts only three days, but you are invited to build on it for the rest of your life. 
				Those who attend a "Walk to Emmaus" are encourage to do two things following their weekend:
				<ol style="margin-left:15px;">
					<li style="margin-left:15px;">Expand their own spiritual lives through study and congregational participation.</li>
					<li style="margin-left:15px;">Become more active disciples of Christ in the world through their churches.To nurture this process of discipleship, 
						the Emmaus movement offers specific opportunities.</li>
				</ol>
				<br />
				<strong>First</strong>, reunion groups of four to six people meet weekly to reflect on their quest for spiritual growth and encourage one another in 
				their discipleship.
				
				<br /><br />
				<strong>Second</strong>, there will be monthly meeting called "Community Gatherings". All people in a particular Emmaus community or area are invited 
				for fellowship, worship, and information instruction. Third, through a newsletter, the Community is made aware of support needs for upcoming Walks to 
				Emmaus and of opportunities to work in a variety of ways during future weekends.
				</p>
				
				<!-- close content -->	
			</div>
		</div>
</div>
{% endblock %}
