{% extends "base.html" %} {% block title %} Emmaus - Agape {% endblock %}
{% block content %}
<div class="mx-auto bg-light bg-gradient" style="width:68%;">

		<div class="container-fluid" id="body">
			<div id="content">
				<h2>What is agape?</h2>
				
				
				<p>
				
				<!-- 
				<img src="images/ValleyWalkColor2.gif" border="0" align="right" style="padding-right: 10px;" />
				-->
				
				The word agape was used by early Christians to refer to the self-sacrificing love of God for humanity and the reciprocating love toward God and among one 
				another.  In simple terms, agape means love, as in the love of God.  In the Emmaus Movement, agape acts are special acts of prayer, sacrifice and 
				expressions of Christian love on behalf of a Pilgrim by another Christian.<br /><br />
				
				<strong>What are examples of agape acts and when are they presented?</strong>
				Sponsorship of another pilgrim is the ultimate act of agape since by prayerfully seeking God’s guidance and through self-sacrifice, you are able to bless 
				another individual with the experience of three days in His presence.  Agape letters from other communities and the 72 hour prayer vigil are introduced on 
				Friday afternoon and illustrate God’s love for everyone through community prayer and sacrifice.  On Saturday, the pilgrims become increasingly aware of table 
				agape which is the same for everyone but shows up as a gift for each person, reflecting the fact that God loves us all the same but cares for each of us 
				individually.   On Sunday afternoon, the personal agape letters from family and friends communicate God’s love for each pilgrim in personal ways that are 
				unique through relationships.<br /><br />
				
				<strong>Who provides these gifts of agape?</strong>
				As a sponsor of a Pilgrim on a Walk to Emmaus weekend, you are providing a gift of agape by fulfilling your before, during and after responsibilities of 
				sponsorship.  All members of a community are encouraged to participate fully in the 72 hour prayer vigil.  It is also common for Reunion Groups or individuals 
				to make or purchase gifts of agape for particular walks or for all walks.  You just have to have a loving spirit and a desire to express Christian love on 
				behalf of another. <br /><br />
				 
				<strong>Is there any special type of agape I should make?</strong>
				Snack agape of baked goods, fruit and other refreshments are welcome and should be turned in to the kitchen at Send Off if possible.  Individual snacks like 
				hard candy, chocolate, nuts, etc. can be turned in to the weekend Agape Head along with the wide variety of individual table agape typically made by reunion 
				groups or individuals.  There is no limit to the type or amount of gifts you can make and it can be anything that pertains to God’s love, the healing grace 
				He offers us, how to be His servants, etc.<br /><br />  
				
				<strong>How many do I need and how do I label the agape gifts?</strong>
				There are no minimums nor special labeling requirements for snack agape.  Gifts for the pilgrims and entire conference room team require a quantity of 64 items 
				per men’s or women’s walk. When making individual table agape, you may want to attach a label with a particular scripture or simple phrase associated with your 
				gift.  You may also want to add your Reunion Group name or church name. These gifts are to actually represent God’s love and therefore we should remain as 
				anonymous servants.  Mark your package of items to indicate if they are for the Men’s Walk or Women’s Walk, especially if they are brought at the same time.  
				Please also indicate a contact person with phone number so that extra items can be returned to be used for future walks.  These extra items will be brought to 
				gatherings after the walks for pickup.  If you have questions, please contact the board of director’s member responsible for agape.<br /><br />
				
				
				</p>
				
				<!-- close content -->
				
				</div>
		</div>
</div>
{% endblock %}
