{% extends "base.html" %} {% block title %} Emmaus - History {% endblock %}
{% block content %}
<div class="mx-auto bg-light bg-gradient" style="width:68%;">

		<div class="container-fluid" id="body">
			<div id="content">
				<h2>History of Emmaus:</h2>
				
				
				<p><img src="../static/images/iconemmnew.gif" border="0" align="right" />
				
				Originating in Spain in the late 1940's, Cursillo moved to America in the late 1950s. It was primarily a Roman Catholic movement until the 1970s. 
				As Catholic centers started accepting applications from Protestants, efforts began among some groups to make the Cursillo experience available to 
				all Protestants. In the late 1970s, The Upper Room formed The Upper Room Cursillo Community in Nashville, Tennessee. In 1981, by mutual agreement 
				between the National Secretariat of the Roman Catholic Cursillo movement and The Upper Room, the name of the Nashville Protestant community was 
				changed to Emmaus. The Emmaus movement is ecumenical.
				</p>
				
				<!-- close content -->
			</div>
		</div>
</div>
{% endblock %}
