{% extends "base.html" %} {% block title %} Home Page {% endblock %}
{% block content %}
<div class="mx-auto bg-light bg-gradient" style="width:68%;">
<h1 class="text-center">About the Valley Walk to Emmaus</h1>


		<div class="container-fluid" id="body">
			<div id="body-left">
				<br>
				<p><a href="http://emmaus.upperroom.org/about" title="Upperroom Web Site" target="_blank"><img src="../static/images/sm-emmauslogo.gif" border="0" align="right" alt="Walk To Emmaus" /></a>
				The Walk to Emmaus is an ecumenical movement intended to strengthen local church members for 
				Christian action in their homes, churches, and daily lives. The program is a highly structured three day event, 
				prayerfully designed, between laity and clergy to foster a renewal of spirit in the participants. The approach 
				seriously considers the model of Christ's servanthood and encourages Christ's disciples to act in ways appropriate 
				to being "a servant of all."</p>
				</div>

			<div id="body-right">
				<h2 class="text-center">The Valley Walk to Emmaus</h2><br>
				<img class="center-block img-fluid" src="../static/images/TarnHows.jpg" width="325" alt="Tarn Hows"/><br><br>
				<p>The Valley Walk to Emmaus began conducting walks in 2001 to serve the community of faith in the West Georgia / East 
				Alabama Region. Our membership currently represents over 150 different churches from a wide range of Protestant 
				denominations. Walks are held two times per year at Pine Eden Christian Retreat Center in Hamilton, Georgia</p>
				<iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FValley-Walk-To-Emmaus%2F165108756880842&amp;layout=standard&amp;show_faces=false&amp;width=450&amp;action=like&amp;font=tahoma&amp;colorscheme=light&amp;height=35" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:35px;" allowTransparency="true"></iframe>
			</div>
		</div>
</div>
{% endblock %}
