{% extends "base.html" %} {% block title %} Journey With Christ {% endblock %}
{% block content %}
<div class="mx-auto bg-light bg-gradient" style="width:68%;">

		<div class="container-fluid" id="body">
			<div id="content">
				<h2>A Journey With Christ:</h2>
				
				
				<p><img src="../static/images/iconemmnew.gif" border="0" align="right" />The Gospel of St. Luke relates the story of the risen Christ 
					appearing to two who were going along the road from Jerusalem to Emmaus. Two friends were walking together, sharing their 
					hearts' deepest concerns. The risen Christ joined them and explained the scriptures as they walked, how it was ordained 
					that Christ should suffer and so enter his glory. This experience on the road was a heart-warming experience as the risen 
					Christ walked and talked with them. The illuminating climax of the experience was when Christ took bread and said the blessing, 
					then broke it and gave it to them. The two had their eyes opened and they recognized him as the risen Christ and they rushed 
					back to Jerusalem to tell the others. (Luke 24: 13-35)
				</p>
				
				<!-- close content -->
				</div>
		</div>
</div>
{% endblock %}
