{% extends "base.html" %} {% block title %} About the Valley Walk to Emmaus {% endblock %}
{% block content %}
<div class="mx-auto bg-light bg-gradient" style="width:68%;">

		<div class="container-fluid" id="body">
			<div id="content" class="mb-3">
				<form method="post" style="margin-left: 20%; margin-right: auto;" class="row row-cols-lg-auto g-3 align-items-center">
					{% csrf_token %}
					{{ form.as_p }}
					<div style="margin-bottom: 10px;"><button type="submit" class="btn btn-dark">Submit</button></div>
				</form>	
			</div>
	  </div>
</div>
{% endblock %}
