{% extends "base.html" %} {% block title %} Emmaus - Servanthood {% endblock %}
{% block content %}
<div class="mx-auto bg-light bg-gradient" style="width:68%;">

		<div class="container-fluid" id="body">
			<div id="content">
				<h2>Are you interested in serving on a walk?</h2>
				
				<a href="../static/applications/Emmaus Servant Application 23.pdf" alt="Download Servant Application" target="_blank"><button type="button" class="btn btn-dark">Servant Application</button></a>
				<br><br>
				
				<p><img src="../static/images/iconemmnew.gif" border="0" align="right" />
				
				Team selection starts four to five months prior to the walk date.
				The Conference Room Team is selected first, primarily by the Walk
				Lay Director, from a list of qualified candidates.<br /><br />
				
				To be eligible you must:<br />
				
				 <ol style="margin-left: 25px;">
					 <li>Have served behind-the-scenes at least twice</li>
					<li>Be active in the local Emmaus community activities</li>
					<li>Participate in a Reunion Group</li>
				 </ol><br />
				
				
				Behind-the-Scenes opportunities include Kitchen, Angel,
				Worship and Agape. These positions are recruited by the Team
				Selection Committee made up of members from the Board and the Community.<br /><br />
				
				
				To be considered for either Conference Room or Behind-the-Scenes,
				you must do the following:<br />
				
				<ol style="margin-left: 25px;">
					<li>
						Complete a Willing Servant Application or Interest Sheet and 
						send to the Community Volunteer Coordinator once each year
					</li>
					<li>Commit to attend all the Pre-Walk Team Meetings – 3 for Conf. Room, 1 for Behind-the Scenes</li>
					<li>Be present for the entire three-day weekend, including Closing</li>
					<li>Pay the same fee as the pilgrims (presently $160.00)</li>
				</ol><br />
				
				
				*Special circumstances will be considered if all these items cannot all be met.<br /><br />
				
				</p>
				
				<!-- close content -->
				
			</div>
		</div>
</div>
{% endblock %}
