{% extends "base.html" %} {% block title %} Emmaus - Sponsorship {% endblock %}
{% block content %}
<div class="mx-auto bg-light bg-gradient" style="width:68%;">

		<div class="container-fluid" id="body">
			<div id="content">
				<h2>The Gift of Sponsorship</h2>
				
				<a href="../static/applications/Current Emmaus Application _Revised 2024_.pdf" alt="Download Sponsorship Application" target="_blank"><button type="button" class="btn btn-dark">Sponsorship Application</button></a>
				<br><br>
				
				<p><img src="../static/images/iconemmnew.gif" border="0" align="right" />
				
				<span style="color:#990000;">The strength of any Emmaus community is a direct result of the community’s sponsorship practices.  If the community makes a commitment to sponsor individuals for the purpose of strengthening the local church, then the community will be a vital force in the renewal movement.</span><br /><br />
				
				If you are thinking of sponsoring someone, here are a few reminders of what you need to be doing before, during and after the Walk.<br /><br />
				
				<strong>Before, During and After:</strong>  Pray for Guidance.  God needs to be involved from the beginning in the selection of who you will sponsor.  His choice and timing should prevail.  Go to Him in prayer and seek His guidance. Be still and listen.  Prospective pilgrims should already be on a journey in their faith, willing to grow and wanting to move forward in their relationship with God.<br /><br />
				
				<strong>Before:  Check the Dates.</strong>  Sponsoring a pilgrim will require you to make a time commitment so it’s important to double-check the dates for yourself and your pilgrim.  It is OK to sponsor someone on a walk when you are part of the team or behind the scenes but you may need assistance in fulfilling your responsibilities during the weekend.<br /><br />
				
				<strong>Before:  Present the Opportunity.</strong>  Make an appointment to discuss Emmaus with your prospective pilgrim.  This conversation deserves more than a few quick comments after church or before choir practice.  Be sure that both members of a couple are present and stress the importance of them both attending.  Share how the Walk impacted your life.  Answer any questions truthfully, but don’t give away the special surprises.  Give your prospective pilgrim an application and check back in a week or so.  A refusal may simply mean that the timing is not God’s.  Continue praying and try again later.<br /><br />
				
				<strong>Before:  Application and Fee.</strong>  Help your prospective pilgrim fill out the form.  Be sure it is complete and has all the signatures 
				including the pilgrim’s pastor.  Complete to Sponsor Information section and seriously review your commitment.  The fee for a Valley Walk is $125.00.  
				A check for $25.00 must accompany each application.  The balance of $100.00 is due at Send-Off.  Sponsors are not required to pay the fee, although 
				some are able and may offer to pay all or part of the cost.  Scholarships are available for those needing assistance and requests are confidential.  
				Let the Registrar know of this need.<br /><br />
				
				<strong>Before:  Collection of Agape Letters.</strong>  As a sponsor, it is your responsibility to collect these letters without your pilgrim being 
				aware of it.  When your pilgrim has been accepted for a Walk, you will be sent a form letter to use in requesting agape letters.  (You will probably 
				have to play detective to get addresses for your applicant’s family and friends.)  Notate in the upper left corner of the envelope if the writer is 
				a &#8220;spouse&#8221;, &#8220;friend&#8221;, &#8220;pastor&#8221;, &#8220;co-worker&#8221;, &#8220;parent&#8221;, &#8220;child”, etc.  Start early 
				and remember that follow-up is necessary!  Eight to twelve letters are needed.  If it is possible to do so discretely, please bring the letters to 
				Send Off.  If you cannot get them to Pine Eden before Sat. night, please let the agape team know so that they won’t be concerned.<br /><br />
				
				<strong>Before and After:  Provide Encouragement.</strong>  During the weeks leading up to the walk, be sure to provide positive reassurance to your 
				pilgrim as he or she prepares for the 72 hour Walk to Emmaus.  Continue that encouragement as they return to their home church with a positive, supportive 
				attitude.<br /><br />
				
				<strong>During:  Attend Walk Weekend Events.</strong>  Attend Send-Off/Sponsor's Hour, Candlelight and Closing and encourage other Emmaus people known 
				to the pilgrim to attend also.<br /><br />
				
				<strong>During:  Cover the Pilgrim’s Responsibilities.</strong>  Check on the pilgrim's family while they are away.  Assist with childcare, transportation, 
				meals, etc.<br /><br />
				
				<strong>After:  Remember Day Four.</strong>  Bring the pilgrim to the Follow-up meeting after the walk so that they can learn more about how to continue 
				their journey.  Accompany them to the first few monthly gatherings after their walk so they can experience the joy of continued fellowship with their new 
				community of faith.  Help them connect to a reunion group. If you’re not in one, start one together.  Encourage them to serve behind the scenes on an 
				upcoming Emmaus walk.<br /><br />
				
				<strong>After:  Help your pilgrim sponsor someone else.</strong>  When your pilgrim is ready to consider sponsoring someone, help them discern who might 
				respond to a weekend of love and who might become more vitally alive disciples in their homes, communities, vocations and churches. Share with your pilgrim 
				all of the responsibilities of sponsorship so that they understand the role they must assume.  Assist them through the process so that their pilgrim has 
				the best experience possible.<br /><br />
				
				
				The primary purpose for sponsoring someone to attend a Walk to Emmaus is to deepen that person’s relationship with Christ and to create an enthusiastic 
				disciple to work in God’s kingdom.  Your primary motivation for recruiting a person ought to be Christ’s love in you wanting that same love for the 
				prospective pilgrim.  Building the kingdom of God is serious work, and building a strong Emmaus community is part of that task.<br /><br />
				
				
				<span style="color:#990000;">These are the elements of successful sponsorship for a pilgrim's walk.</span> <br /><br />  
				
				
				</p>
				<br>
				<h2>Valley Walk To Emmaus Scholarship Policy</h2>

				<p>
				The Valley Walk to Emmaus Board of Directors wants to offer any person an opportunity to attend the Walk to Emmaus or to serve on an Emmaus team regardless of their ability to pay as long as there are funds available in the treasury.  The following guidelines should be followed to request a full or partial scholarship for a pilgrim, clergy or worker:
				
				<ul style="margin-left:15px;">

					<li style="margin-left:15px;">For a pilgrim, the sponsor should inform the Registrar during the application process.</li>
				<li style="margin-left:15px;">For clergy and team members(<em>Conference Room</em>), a request should be made to the Week-end Lay Director.</li>
				<li style="margin-left:15px;">For servants, a request should be made to Team Selection.</li>
					<li style="margin-left:15px;">The Registrar, Team Selection or Week-end Lay Director should make the request known to the committee within the Board of Directors who will consider the request.  The committee will consist of the Board Chair, Treasurer, and Registrar.</li>
					<li style="margin-left:15px;">If approved, the Treasurer will handle the payment records accordingly so that the individuals are listed as “paid” at the time that payment is due.</li>
					<li style="margin-left:15px;">Clergy may request one full scholarship a year.</li>
					<li style="margin-left:15px;">Clergy will only pay half price for each walk that they serve.</li>
					<li style="margin-left:15px;">Team members and servants may request one half scholarship every other walk served.</li>
					<li style="margin-left:15px;">Pilgrims will be given priority over clergy and servants if funds are limited.</li>
				</ul><br />

				
				Date Approved: ____________________________
				
				<br><br><br>
				<h2 style="color:#990000">Special Note To All Members Of Emmaus:</h2> 

				<p>
					Many of you have indicated that you would be happy to donate to a scholarship fund.  The treasurers have set up a separate account for scholarship donations for that purpose.  If you would like to make a donation, just make your check payable to Valley Walk to Emmaus and designate it for the Scholarship Fund.    
				</p>

					<!-- close content -->
						
			</div>
		</div>
</div>
{% endblock %}
