{% extends "base.html" %} {% block title %} Emmaus - The Walk {% endblock %}
{% block content %}
<div class="mx-auto bg-light bg-gradient" style="width:68%;">

		<div class="container-fluid" id="body">
			<div id="content">
				<h2>What Is The Walk to Emmaus?</h2>
				
				
				<p><img src="../static/images/iconemmnew.gif" border="0" align="right" />
				
				The above story provides the image for Emmaus, an Upper Room program that calls forth and renews Christian discipleship.  
				Like its predecessor, Cursillo de Christiandad (Spanish for "short course in Christianity"), the Walk to Emmaus is a 
				three-day experience which takes a New Testament look at Christianity as a lifestyle. It is a highly structured weekend 
				designed to strengthen and renew the faith of Christian people, and through them their families, congregations and the 
				world in which they live. Emmaus is a combined effort of laity and clergy toward the renewal of the church.
				</p>
				
				<!-- close content -->
			</div>
</div>
{% endblock %}
